.App {
  text-align: center;
}

.create-button {
  padding: 1vh;
  border-spacing: 1vh;
  border-radius: 3px;
  display: flex;
  margin-left: 15px;
  border-width: 1px;
  border-color: black;
  font-size: 15px;
}
.create-button:hover {
  background-color: silver; /* Green */
  color: white;
}

.div-textbox {
  border-width: 10px;
  border-color: black;
}
